@{
    ViewData["Title"] = "About";
}

<div class="blackframe">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>We are concerned citizens. We want to be involved. We want our concerned voices heard.</p>
</div>

