@{
    ViewData["Title"] = "Contact";
}

<div class="blackframe">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>IF you want to contact us, just do the needful</p>
    <div id="twitter">
        <a href="https://twitter.com/intent/tweet?screen_name=ismurphalive&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet Us</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
